body {
    background-image: url('../img/bg.jpg');
    background-repeat: repeat-y;
    font-family: 'Ubuntu', sans-serif;
}
div > h1 {
    color: #09b3bf;
}
.article-block {
    background: #fff;
    box-shadow: 2px 2px 1px #ccc;
    padding: 10px;
    margin: 10px;
}
div.container-image > img {
    width: 100%;
}