<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
    <h2>Категорії</h2>
{% for item in categories %}
  <a href="{{ item.get_absolute_url }}"><h4>{{ item.category }}</h4></a>
{% endfor %}

<h2>Останні публікації</h2>
{% for item in articles %}
  <a href="{{ item.get_absolute_url }}"><h4>{{ item.title }}</h4></a>
  <p>{{ item.description|truncatewords:30 }}</p>
{% endfor %}
<a href="{% url 'articles-list' %}">Всі публікації</a>
</body>
</html>
